.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky; 
    top: 0;
    background-color: #F0DDCE;
    color: black;
    font-family: "Lexend";
    font-size: 20px;
    z-index:1;

  .navigationMenu {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .navigationMenu ul {
    display: flex;
    padding: 0;
    height: 100%;
    justify-content: center;
    margin: 0;
  }
  .navigationMenu li {
    display:inline-block;
    list-style-type: none;
  }

  .navBarLink {
    background-color: #F0DDCE;
    color: black;
    font-size: 20px;
    border: none;
    font-family: "Lexend";
    height: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    padding: 0px 16px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .navBtn {
    background-color: #F0DDCE;
    color: black;
    padding: 16px;
    font-size: 20px;
    border: none;
    font-family: "Lexend";
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .navBarLink:hover {
    background-color: #eee;
  }

  .navBtn:hover {
    background-color: #eee;
  }
  
  
  .largeBrandLogo {
    margin-left: 20px;
    display: block;
  }

  .smallBrandLogo {
    display: none;
  }

  .brandLogoDiv {
    width: 30%;
  }
  
  .accountMenu {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .loginBtn {
    background-color: #447399;
    color: white;
    margin-left: 16px;
    margin-right: 23px;
    font-size: 20px;
    float: right;
    border: none;
    font-family: "Lexend";
    height: 35px;
    width: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loginBtn:hover {
    background-color: #6396bf;
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    min-width: fit-content;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200%;
    text-align: center
  }
  
  /* Links inside the dropdown */
  .dropdownContent a {
    color: black;
    float: left;
    width: 50%;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  .hamburger:hover {
    background-color: #2642af;
  }
  
  
  a {
    color: black;
    text-decoration: none;
    
  }

  .chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0;
	transform: rotate(135deg);
	width: 0.45em;
    margin-left: 2px;
    font-size: 16px;
    vertical-align: middle;
    margin-bottom: 5px;
}

@media screen and (max-width: 1100px) {

  .largeBrandLogo {
    display: none;
  }

  .smallBrandLogo {
      margin-left: 20px;
      display: block;
  }

  .brandLogoDiv {
    width: 15%;
  }
}

    /* Show the dropdown menu on hover */
    @media screen and (min-width: 800px) {
      .dropdown:hover .dropdownContent {display: block;}
      .dropdown:hover .chevron::before {
          top: 0.15em;
          transform: rotate(-45deg);
      }

      .dropdownContent a:hover {background-color: #ddd;}

      .dropdown:hover .dropBtn {background-color: #eee;}

      .mobile a {
          display: none;
      }
    }

  @media screen and (max-width: 800px) {

    .dropdown {
      background-color: #f1f1f1;
    }

    .mobile {
        display: block;
        box-sizing: border-box;
    }

    .mobile .navBarLink {
      width: 50%;
      display: inline-block;
    }

    .chevron.expanded:before {
        top: 0.15em;
        transform: rotate(-45deg);
    }

    .dropBtn.expanded {background-color: #eee;}

    .dropdownContent.expanded {
        display: block;
      }

    .hamburger {
      display: block;
    }
    .accountMenu {
        display: none;
    }

    .navigationMenu ul {
        display: none;
    }

    .navigationMenu li {
        width: 100%;
    }

    .navigationMenu ul {
        position: absolute;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border-top: 1px solid black;
      }

      .dropdownContent a {
        padding-top: 6px;
      }

      .navBarLink {
        color: black;
        padding: 10px;
      }

      .navigationMenu.expanded ul {
        display: block;
      }

      .accountMenu.expanded {
        display: flex;
      }

      .dropdownContent.expanded {
        display: block;
      }

      .navigationMenu {
        width: 100%;
      }

      .navBtn {
        width: 100%;
        padding: 10px;
      }

      .dropdown {
        width: 100%;
      }

      .dropdownContent {
        width: 100%;
        position: relative;
      }

      .dropdownLink {
        padding: 0px !important;
        width: 50% !important;
        box-sizing: border-box 
      }
      .left {
        text-align: right;
        padding-right: 10px !important;
        padding-left: 10px !important;
      }
      .right {
        text-align: left;
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
  }
}

@media screen and (max-width: 800px) {
  .navigation {
    display: block;
  }
}
