.about {
  background-color: #447399;
  color: white;
  border: 0cm;
  text-align: center;
  padding: 0px 16px;

  li {
    text-align: center;
    padding: 0px 0px 16px 0px;
    align-content: center;
    font-size: clamp(16px, 5vw, 24px);
    position: relative;
    text-decoration: none;
    width: 100%;
  }

  ul {
    padding-inline-start: 0px;
    width: 100%;
    display: flex;
    list-style-type: none;
  }

  p {
    text-align: center;
    font-weight: 100;
    font-size: larger;
    font-size: clamp(16px, 5vw, 24px);
    padding: 0px 7%;
  }

  .horizontalList {
    box-sizing: border-box;
    margin: 0px;
  }

  h1 {
    text-align: center;
    font-size: clamp(25px, 10vw, 48px);
    font-variation-settings: "wght" 800;
    padding-top: 1cm;
    margin-top: 0px;
  }

  .listWidgets {
    font-size: clamp(25px, 10vw, 48px);
    color: #dfffee;
  }

  button {
    background-color: #f0ddce;
    font-size: clamp(14px, 4vw, 20px);
    border-radius: 6px;
    border: none;
    margin: 0px auto;
    display: block;
    position: relative;
    color: black;
    cursor: pointer;
    padding: 14px 24px;
  }

  button:hover {
    background-color: #eee;
  }

  #linkToAboutUs {
    margin-bottom: 16px;
    padding: 0px;
    display: inline-block;
  }

  @media (max-width: 800px) {
    ul {
      flex-direction: column;
    }
  }
}
