.HeroSection {
  height: 100vh;
  max-height: 1100px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.HeroSlide {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.HeroSlider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeroSlider::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  bottom: 0vh;
  left: 0;
  overflow: hidden;
  opacity: 0.4;
  background: liner-gradient(
    0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.HeroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.HeroContent {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: calc(100% - 100px);
  color: #fff;
}

.HeroContent h1 {
  font-size: clamp(1rem, 8vw, 3rem);
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  text-align: left;
  margin-bottom: 0.8rem;
  color: #fff;
}

.HeroContent p {
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: clamp(0.5rem, 4vw, 2rem);
  color: #fff;
}

.arrowButtons {
  width: 50px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  background: #000d1a;
  border-radius: 50px;
  padding: 10px;
  margin-right: 1rem;
  user-select: none;
  transition: 0.3s;
}

.arrowButtons:hover {
  background: #cd853f;
  transform: scale(1.05);
}

.sliderButtons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: flex;
  z-index: 10;
}

.arrow {
  margin-left: 0.5rem;
}

/* .hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 800;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  padding: 0.5rem 0 2rem 0;
  text-align: center;
  font-weight: 700;
} */

@media screen and (max-width: 800px) {
  .HeroContent h1 {
    text-align: left;
  }

  .HeroContent p {
    padding: 0 0 2rem 0;
    text-align: left;
  }
}
