.footer {
  /* Component styles */
  padding: 1rem 2rem;
  background: #f0ddce;
  position: relative;
  /* Fixes the position of the footer at the bottom of the page */
  flex: 1;

  /* Row used to display content in columns */
  .Row {
    display: flex;
    height: 16rem;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Three main columns for the footer content */
  .Column1 {
    display: flex;
    flex-direction: column;
    width: 287px;
    padding: 20px 0px;
  }

  .Column1 h1 {
    margin-top: 0px;
  }

  /* last p tag in column1 has no bottom margin*/
  .LastParagraph {
    margin-bottom: 0px;
  }

  .Column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;
  }

  .Column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14rem;
    padding: 10px 0px;
  }

  /* Fourth column used for the logo */
  .Column4 {
    width: 380px;
  }

  /* Vertical line used to separate the columns */
  .line {
    border-left: 2px solid rgb(0, 0, 0);
  }

  /* Styles for headings */
  h1 {
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    color: #000000;
  }

  /* Styles for paragraphs */
  p {
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    margin-top: -1.5rem;
  }

  /* Styles for links */
  .Link {
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 2rem;
  }

  /* Styles for links on hover */
  .Link:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
  }

  /* Styles for icons */
  .icons {
    width: 80px;
    height: 45px;
    margin-left: 1rem;
    display: block;
  }

  .icons:hover {
    color: #ff9c00;
    transition: 200ms ease-in;
  }

  .logo {
    display: block;
  }

  /* Hide Column4 when screen size is less than or equal to 1100px */
  @media (max-width: 1100px) {
    .Column4 {
      display: none;
    }
  }

  /* Styles for responsive design on screen size less than or equal to 800px */
  @media (max-width: 800px) {
    .Container {
      padding: 0rem 0rem 1rem;
    }

    .Row {
      flex-direction: column;
      height: auto;
    }

    .Column1,
    .Column2,
    .Column3 {
      width: 287px;
      margin-left: 0;
      height: auto;
    }

    .line {
      border-top: 2px solid rgb(0, 0, 0);
      border-left: none;
    }

    .Link {
      margin: 0.5rem 0rem;
    }

    .Column2 {
      align-items: center;
    }

    .Column3 {
      flex-direction: row;
    }

    .icons {
      margin-left: 0rem;
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  /* Styles for responsive design on screen size less than or equal to 480px */
  @media (max-width: 480px) {
    .Link {
      font-size: 20px;
    }

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
    }
  }
}
