.titleBlock > img {
    width: 100%;
    height: auto;
}

.titleBlock {
    margin-bottom: -2rem;
}

.titleBlock {
    position: relative;
    border: none !important;
}

.titleBlock > h1 {
    position: absolute;
    bottom: 4cm;
    left: 15cm;
    color: white;
    font-size: 48pt;
}
  
.ourStoryBlock > h2 {
    padding-top: 0.5cm;
    font-size: 36pt;
    text-align: center;
}

.ourStoryBlock > p {
    padding-bottom: 1cm;
}

.ourStoryBlock {
    background-color: white;
    color: #447399;
    margin-top: -3rem;
    margin-bottom: -2rem;
}

.ourOwnerTextBlock > p {
    background-color: #447399;
    text-align: left;
    width: 50%;
    float: left;
    margin-top: -3rem;
    margin-bottom: -2rem;
}

.ourOwnerTextBlock > h2 {
    font-size: 36pt;
    text-align: left;
    width: 50%;
    float: left;
    padding-left: 1.8cm;
    background-color: #447399;
    padding-bottom: 1cm;
    box-sizing: border-box;
}

.ourOwnerTextBlock {
    background-color: #447399;
    color: white;
    box-sizing: border-box;
}

.ourOwnerTextBlock > img {
    background-color: #447399;
    width: 25%;
    padding-top: 2cm;
    padding-bottom: 6cm;
}